body
{
	background-color:#fffed1;
}

h2
{
	text-align:center;
	align-items: center;
	
	display: flex;
	flex-direction: row;
	
}
h1
{
font-size:
}

ul
{
	float: left;
	list-style:none;
}
h2 a
{
	display:block;
	width: 100px;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #b0af68;
	padding: 5px 10px;
	margin: 0px 0px 4px 5px;
	border-radius: 4px;
	box-shadow: 2px 2px 2px silver;
}
